body{
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-family: helvetica;
    font-size: 22px;
}

.col img {
   width: 300px;
   height: 200px;
}


/* header */
header{
  display: flex;
  align-items: center;
  height: 69px;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: black;
}

header img{
  height: 50px;
  padding: 10px;
}

header nav{
  display:flex;
  width: 500px;

}

header span{
  display: flex;
  width: 200px;
  text-decoration: underline;
  justify-content: center;
}

/* main picture */
.jumbotron {
  position: relative;
  width: 1200px;
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.picture{
  display:flex;
  align-items: center;
  background-color: black;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

main h2,h3,h4{
  margin: 10px;
  display: flex;
}

/* Tea of The Month */
section{
  align-items: center;
}

.teaofthemonth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

.text{
  display:inline-block;
  justify-content: center;
  margin: 10px;
}

.text h2,h4 {
    display:flex;
    justify-content: center;
}

.col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.images1,.images2{
  display: flex;
}

/* Locations */
.location {
  margin: 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 600px;
  background-image: url("images/img-locations-background.jpg");
  justify-content: center;

}

.location h2{
  display: flex;
  justify-content: center;
}

.locationbox{
  display: flex;
  justify-content: center;
}

.address{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  justify-content: center;
  margin:20px;
}

.address h3,h4{
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Contact */
.contact{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
}

.contact h2,h5{
  display:flex;
  justify-content: center;
}

footer {
  margin:20px;
  text-align: left;
}
